<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentFacultyLoginActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AdminLoginActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AdminSignupActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".StudentHomeActivity"
            android:label="Student Home" />
        <activity
            android:name=".TeacherMarkAttendanceActivity"
            android:label="Teacher Home" />
        <activity
            android:name=".AdminHomeActivity"
            android:label="Admin Home" />
        <activity
            android:name=".TeacherPanel"
            android:label="Add New Teacher" />
        <activity
            android:name=".StudentPanel"
            android:label="Add New Student" />
        <activity android:name=".TeacherView" />
        <activity android:name=".StudentView" />
        <activity android:name=".HandleStudentMenu" />
        <activity android:name=".HandleTeacherMenu" />
        <activity android:name=".MarkStudentActivity" />
        <activity android:name=".TeacherHomeActivity" />
        <activity android:name=".ShowAttendanceActivity"></activity>
    </application>

</manifest>